body {
  background-color: #eee;
}

header {
  width: 100% !important;
  background-color: #333;

  .navbar {
    background-color: #333 !important;

    .logo {
      height: 24px !important;
      width: 24px !important;
      vertical-align: text-bottom;
      transition: opacity .3s ease;
      opacity: 1;
    }

    .logo:hover {
      transition: opacity .3s ease;
      opacity: 0.7;
    }
  }
}

.content {
  background-color: #fff;
}

footer {
  border-top: solid 1px #ccc;
  background-color: #eee;
  padding-top: 16px;

  .copyright {
    font-size: 12px;
    color: #777;
  }

  .btn-social {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-color: #888;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    color: #eee;
  }
}
