{% extends 'base.html' %}

{% block title %}LivaRava Jobs{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-11 col-md-10 col-lg-8">
                <h4 class="mb-4">Featured</h4>

                {% for item in items %}
                    <div class="post mb-5">
                        <div class="image mb-3" style="background: url('{{ item.image_url }}')"></div>
                        <div class="p-3">
                            <div class="text-muted">
                                {{ item.created|isodatetime }}
                            </div>
{#                            <a href="{{ url_for('post', post_id=post.id) }}">#}
                                <h1>{{ item.title|safe }}</h1>
{#                            </a>#}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
{% endblock %}