{% extends 'base.html' %}

{% block title %}LivaRava Jobs{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-11 col-md-10 col-lg-8 offset-lg-2 text-center">

                <h3 class="mb-2">Jobs at LivaRava</h3>

                <hr class="mb-4 mt-0">

                {% for item in items %}
                    <div class="job text-left">
                        <div class="p-3">
                            <div class="row">
                                <div class="col-12">
                                    {% if item.summary %}
                                        <a class="more pull-right" data-toggle="collapse"
                                           href="#jobSummary{{ item._id }}"
                                           role="button" aria-expanded="false" aria-controls="jobSummary{{ item._id }}">
                                            +
                                        </a>
                                    {% endif %}
                                    <a class="header" href="{{ url_for('job', job_id=item._id) }}">
                                        {{ item.title|safe }}
                                    </a>
                                    <div class="text-muted">{{ item.created|isodatetime }}</div>
                                </div>
                            </div>
                            {% if item.summary %}
                                <div class="row mt-3 collapse" id="jobSummary{{ item._id }}">
                                    <div class="col-12">
                                        {{ item.summary|safe }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr class="mb-4">
                {% endfor %}
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
{% endblock %}