{% extends 'base.html' %}

{% block title %}LivaRava{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-11 col-md-10 col-lg-8 offset-lg-2 text-center">
                <img class="mt-4" src="/static/img/logo-000.svg" width="160" height="160" alt="LivaRava">

                <h1 class="display-4 mt-4 mb-2">LivaRava</h1>

                <p class="lead text-muted">a new era of knowledge management</p>
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
{% endblock %}